:root { 
--white_A700_7f:#ffffff7f; 
--teal_A700:#13c1ac; 
--white_A700_e5:#ffffffe5; 
--gray_400:#c6c6c6; 
--gray_500:#a8a8a8; 
--blue_gray_400:#8d8d8d; 
--blue_gray_300:#90a4ae; 
--blue_A700:#0f62fe; 
--gray_900:#212529; 
--gray_900_01:#161616; 
--blue_gray_500:#607d8b; 
--orange_500:#f49709; 
--blue_50:#edf5ff; 
--gray_100:#f4f4f4; 
--white_A700_00:#ffffff00; 
--black_900:#000000; 
--deep_orange_900:#803700; 
--indigo_A400:#385ef9; 
--blue_gray_700:#525252; 
--blue_gray_900_01:#29363d; 
--blue_gray_900:#253238; 
--white_A700:#ffffff; 
}